body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  background-color: #1E293B; /* Dark Slate Blue */
  text-align: center;
  color: white;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #E2E8F0; /* Soft Cool Gray */
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #334155; /* Deep Cool Blue */
  margin: 50px 0;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 100%;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #64748B; /* Muted Blue-Grey */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  color: white;
}

.name {
  font-weight: 900;
  font-size: 2em;
  color: #FACC15; /* Vibrant Gold */
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #F8FAFC; /* White */
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 120px;
}

.info {
  margin: 20px 0;
  color: #38BDF8; /* Sky Blue */
} 

p {
  font-size: large;
  font-weight: 900;
  margin-left: 15px;
  color: #94A3B8; /* Muted Grayish Blue */
}
